<button class="text-blue-400 hover:text-blue-800 pl-5">
    <%= link_to "Change password", edit_password_path %>
</button>

<button class="text-blue-400 hover:text-blue-800 pl-5">
    <%= link_to "Change email address", edit_identity_email_path %>
</button>
