<script>
  function reveal() {
      var accountSettings = document.getElementById("account-settings");
      accountSettings.classList.toggle("hidden");
      accountSettings.classList.toggle("flex");

      var menuArrow = document.getElementById("menu-arrow");
      menuArrow.classList.toggle("rotate-180")
  }
</script>

<main class="flex flex-col items-center w-screen">

  <div class="flex flex-col items-center w-64">
    <button id="account-settings-btn" onClick='reveal()' class="flex items-center justify-between w-5/6 border-2 py-1 px-4 hover:bg-blue-100 hover:border-blue-400 lg:w-full">
      Account settings
      <a id="menu-arrow" class="text-sm text-slate-700">▼</a>
    </button>

    <div id="account-settings" class="hidden flex-col w-5/6 h-24 items-start justify-evenly bg-slate-100 lg:w-full lg:h-40">
      <%= render "account_settings" %>
    </div>
  </div>

  <div class="flex flex-col items-center absolute bottom-0 mb-16">
    <div class="flex flex-col pb-6">
      <p class="text-green-700 text-center"><%= notice %></p>
      <p>Signed in as <%= Current.user.email %></p>
    </div>

    <%= button_to "Log out", Current.session, method: :delete, class: "text-xl text-blue-400 hover:text-blue-800 " %>
  </div>
</main>